body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	color: #36151E;
    font-family:"Times New Roman", Times, serif ;
	/* Change to match company colors */
	background: #417B5A !important;
}
.user_card {
	width: 450px;
	margin-top: auto;
	margin-bottom: auto;
	/* Change to match company colors */
	background: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 #5065A8, 0 6px 20px 0 #5065A8;
	-webkit-box-shadow: 0 4px 8px 0 #5065A8, 0 6px 20px 0 #5065A8;
	-moz-box-shadow: 0 4px 8px 0 #5065A8, 0 6px 20px 0 #5065A8;
	border-radius: 5px;

}

h3{
    color: #36151E;
    /*font info, place all other css above this or it wont work*/
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.form_container {
	margin-top: 20px;
}

#form-title{
	color: #000;
}
.login_btn {
	width: 100%;
	background: #5065A8 !important;
	color: white !important;
	font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}