{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">
        <img src="{% static 'images/Philanthroportal-logos_transparent.png' %}" width = auto height = 50>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'NFPs' %}">NFPs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Contact Us' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Grant Application' %}">Grant Application</a>
          </li>
        </ul>
      </div>

      <!--Logout button-->
      <span class="hello-msg" style="font-size: 18px; margin-right: 20px">
        {% if request.user.is_authenticated %}
          Hello, {{request.user.name}}
        {% endif %}
      </span>
      <span class="hello-msg" style="font-size: 18px; margin-right: 20px"><a href="{% url 'logout' %}">
        {% if request.user.is_authenticated %}
          Logout
        {% else %}
          Login
        {% endif %}
      </a></span>

    </nav>

    <div class="container">
      <br>
      {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>