
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap" rel="stylesheet">
  </head>
  <body>
    <ul>
      <li><a href="{% url 'Home' %}">
        <img src="{% static 'images/Philanthroportal-logos_white.png' %}" width=130px height=40px>
      </a></li>
      <li><a href="{% url 'Home' %}">Home</a></li>
      <li><a href="{% url 'NFPs' %}">NFPs</a></li>
      <!-- don't need this page any more lmao
      <li><a href="{% url 'Contact Us' %}">Contact Us</a></li>
      -->
      {% if user.is_authenticated %}

            {% if request.user.account_type == "Corporation" %}
            <li><a href="{% url 'Create Grant' %}">Create Grant</a></li>
            <li><a href="{% url 'my_grants' %}">My Grants</a></li>
            {% endif %}

            {% if request.user.account_type == "Non-For-Profit Organization" %}
              <li><a href="{% url 'grant_list' %}">Grants</a></li>
              <li><a href="{% url 'my_applications' %}">My Applications</a></li>
              <li><a href="{% url 'nfp_donation' %}">Donation History</a></li>
            {% endif %}

            {% if request.user.account_type == "Individual" %}
            <li><a href="{% url 'indv_donation' %}">Donation History</a></li>
            {% endif %}
          {% endif %}
      {% if not request.user.is_authenticated %}
        <li style="float:right"><a href="{% url 'register' %}">Sign-up</a></li>
      {% endif %}
      
      {% if request.user.is_authenticated %}
      <!--
      <li style="float:right"><img class="rounded-circle account-img" src="{{user.profile_image.url}}" width = height = 20px>-->
      <li style="float:right"><a href="{% url 'users-profile' %}">Hello, {{request.user.name}}</a></li>
      {% endif %}
    
      <li style="float:right"><a href="{% url 'logout' %}">
        {% if request.user.is_authenticated %}
          Logout
        {% else %}
          Login
        {% endif %}
      </a></li>
    </ul>

    {% block content %} {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>