{% extends "base.html" %} 

{% block title %} Home Page {% endblock %}
{% block content %}
<body>
<div style="padding-top:20px;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
                <div class="d-flex justify-content-center">
                    <img src="/static/images/Philanthroportal-logos_transparent.png" class="img-fluid logo">
                </div>
        </div>
    </div>
</div>
<div style="padding-top:20px;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <br>
                    <h3 >Mission</h3>
                    <br>
                </div>
                <p class="p1">
                Our mission is to connect Non-for-Profit organizations and donors. We hope to allow Non-for-Profit organizations 
                to search for corporations and grants to partner with. Also, guiding individuals to volunteer opportunities and 
                give physical and monetary donations to organizations that align with their values.
                </p>
            </div>
        </div>
    </div>
    <br>
    
    <div class="container">          
        <img src="/static/images/coin_earth.jpg" class="earth rounded">
        <a href="{% url 'register' %}"><button type="donate" style="margin-left: 20px;">Donate Now!</button></a>
    </div>
    <br>
    <div class="container h-400">
        <div class="d-flex justify-content-center h-400">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <br>
                    <h3>Our Story</h3>
                    <br>
                </div>
                 <p class="p1">
                    The founders of Philantroportal, found ourselves drawn together by a shared desire to utilize our technical skills
                    for social good. United by a vision of leveraging technology to facilitate meaningful connections between non-profit
                    organizations and corporate sponsors, we embarked on a journey to create what would become Philantroportal. Fuelled 
                    by late-night brainstorming sessions and an unwavering passion for making a tangible impact on the world, we pooled 
                    our expertise in coding, software development, and user interface design to bring our idea to life.
                    <br>
                    <br>
                    As the months progressed, our team navigated the challenges of entrepreneurship with determination and resilience. 
                    Guided by our collective ambition and a commitment to social impact, we overcame technical hurdles, refined our business 
                    model, and honed our marketing strategy. With each line of code written and every design iteration, Philantroportal 
                    began to take shape – a digital platform poised to revolutionize the way nonprofits and companies collaborate to address 
                    pressing societal issues.
                    <br>
                    <br>
                    Finally, after months of tireless effort, Philantroportal emerged from the crucible of development, ready to make its 
                    mark on the world. With its intuitive interface, robust functionality, and unwavering focus on fostering meaningful 
                    connections, it stood as a testament to the power of technology to drive positive change. As we looked ahead to the 
                    future, we did so with a sense of pride and anticipation, knowing that we had laid the foundation for a company poised 
                    to make a lasting difference in the world of philanthropy and corporate social responsibility.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center" style="padding-top:20px;">
    <a href="{% url 'NFPs' %}"><button type="nfps">Browse our Non-for-Profit Partners</button></a>
</div>
<div style="padding-top:20px;">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
                <div class="d-flex justify-content-center">
                    <img src="/static/images/heart_hands.jpg" class="img-fluid hands">
                </div>
        </div>
    </div>
</div>
<footer>
    <div class=" container justify-content-center ">
    <form method="post">
        <h3> Contact Us </h3>
        {% csrf_token %}
        <label for="your_name">Your Name</label>
        <div class="input w-100">
            {{form.your_name}}
        </div>
        <label for="from_email">Your Email</label>
        <div class="input w-100">
            {{form.from_email}}
        </div>
        <label for="subject">Subject</label>
        <div class="input w-100">
            {{form.subject}}
        </div>
        <label for="message">What would you like to say?</label>
        <div class="input w-100">
            {{form.message}}
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
</footer>
</body>

{% endblock %}