{% extends "base.html" %} {% block title %} My Grants {% endblock %}
{% block content %}

<!-- 
    Functional Requirements:
        View Application
        Grant Status
-->

<h2> My Grants</h2>
{% for grants in my_grants %}
<h3>{{ grants.grant_name }}</h4>

    {% for apps in applications %}
        {% if grants.grant_id == apps.grant_id%}
        {% if apps.nfp_id == nfp.id %}
        <h5>{{ nfp.org_name }}</h5>
        <p>{{ apps.body }}</p>
        {% endif %}
        {% endif%}
    {% endfor %}
{% endfor %}

{% endblock %}