{% extends "base.html" %} {% block title %} NFPs Page {% endblock %}
{% block content %}
{% load static %}
<!-- 
    Functional Requirements:
        Find NFP Person of Contact
        Access NFP Public Profiles
        Search / Browse NFP
        Request Donations
        Donate to NFP
-->

<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="../assets/js/color-modes.js"></script>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/nfp.css' %}" />
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">  
  </head>

  <body>
  <main>
    <section class="text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 >Non-For-Profits</h1>
          <p class="p1">Welcome to our community of purpose-driven organizations! Explore and discover a diverse range of non-for-profits dedicated to making a positive impact in various fields.</p>
          <p>
          {% if user.is_authenticated %}
          {% else %}
            <a href="{% url 'register' %}"><button type="register">Register your NFP</button></a>
          {% endif%}
          </p>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        {% for user in nfps_list %}
          {% if user.account_type == 'Non-For-Profit Organization' %}
        <div class="col-sm-4">
            <!-- Figure how to add image from user profile -->
              <img src="{{ user.profile_image.url}} " height=auto class="my-img rounded mx-auto d-block"/>
              <h4 class="card-header butFont">{{user.nfp.org_name}}</h4>
              <p class="card-text subsection">{{user.nfp.bio}}</p>
              <a href="{% url 'Make Donation' %}"><button type="nfp">Donate</button></a>
        </div>
          {% endif%}
        {% endfor %}
      </div>
  </div>
</main>

<div style="text-align:center;bottom:0px;">
  <a href="#"><button type="nfp">Back to top</button></a>
</div>

</body>
</html>
{% endblock %}