{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{user.profile_image.url }} " style="cursor: pointer;" />
        <h1>Profile page for {{user.name}}</h1>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id = "form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{value}}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">Change Profile Picture:</label>
                        {{user_form.profile_image}}       
                    
                        <label class="small mb-1">Email:</label>
                        {{user.email}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Phone Number:</label>
                        {{user_form.phone}}
                        <li>Enter phone number as (xxx)-xxx-xxxx</li>
                    </div>
                </br>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <hr>

                    {% if user.account_type == 'Non-For-Profit Organization' %} 
                    <div class="form-group">
                        <label class="small mb-1">Non-For-Profit Name:</label>
                        {{user.nfp.org_name}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Addresss:</label>
                        {{nfp_form.address}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Addresss2:</label>
                        {{nfp_form.address2}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">City:</label>
                        {{nfp_form.city}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">State:</label>
                        {{nfp_form.state}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Zip Code:</label>
                        {{nfp_form.zipCode}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Desired Donation Items:</label>
                        {{nfp_form.items}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Bio:</label>
                        {{nfp_form.bio}}
                    </div>
                    {%endif%} 
                      
                    {% if user.account_type == 'Corporation' %} 
                    <div class="form-group">
                        <label class="small mb-1">Corporation Name:</label>
                        {{user.corporation.corp_name}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Addresss:</label>
                        {{corp_form.address}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Addresss2:</label>
                        {{corp_form.address2}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">City:</label>
                        {{corp_form.city}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">State:</label>
                        {{corp_form.state}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Zip Code:</label>
                        {{corp_form.zipCode}}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Bio:</label>
                        {{corp_form.bio}}
                    </div>
                    {%endif%}         
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>    
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}